@font-face {
    font-family: "Love";
    src: url(./Love.ttf);
}

body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            background-color: rgb(251, 251, 251);
            font-family: 'Arial', sans-serif;
            flex-wrap: wrap;
            font-family: "Love", sans-serif;
            height: 100vh;
}

h1 {
    color: #d63384;
    font-size: 40px;
     margin-bottom: 20px;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
   
}

.btn {
    display: flex;
    gap: 30px;
}

button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.yes {
    background-color: #80ED99;
    transition: width .5s, height .5s;
}

.no {
    background-color: #d45e5e;
}